/*----------------------------------------------
Author : www.webthemez.com
License: Commons Attribution 3.0
http://creativecommons.org/licenses/by/3.0/
------------------------------------------------*/


/*----------------------------------------------
    COMMON  STYLES background: #0d161f; 1F1F1F
------------------------------------------------*/
body {
    font-family: 'Open Sans', sans-serif;
    background: #0d161f;

}

 #wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 10px 10px;
    min-height: 1000px;
    background: #E8E8E8;
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:transparent;
    padding: 15px 30px;
    min-height:950px;
}
.header .container-fluid{
padding:0;
}
.text-center {
    text-align:center;
}
.fileContainer {
    overflow: hidden;
    position: relative;
}


.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.no-boder {
    border:1px solid #f3f3f3;
}

h1, .h1, h2, .h2, h3, .h3 {
margin-top: 7px;
margin-bottom: -5px;
}
h2 {
    color: #000;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent;
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
.navbar-side {
    z-index: 0;
}
.panel{
border-radius:0px;
}
.navbar-side .nav > li > a > i{
color: #FFFFFF;
padding: 8px;
width: 30px;
text-align: center;
}
.top-navbar{
position: fixed;
  width: 100%;
  z-index: 300;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}
.navbar-side {
  z-index: 1;
  position: fixed;
  width: 260px;
  top: 9%;
}
#page-wrapper {
  position: relative;
  top: 55px;
  box-shadow: 0 0 10px #757575;
  -moz-box-shadow: 0 0 10px #757575;
  -webkit-box-shadow: 0 0 10px #757575;
}
.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
text-decoration: none;
background-color: #2497BA;
color: #fff;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
background-color: #075CB3;
border-color: #075CB3;
}
.breadcrumb {
padding: 12px 10px 12px 20px;
margin-bottom: 5px;
list-style: none;
background: #fff;
border-radius: 0;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
.breadcrumb li+li:before {
  padding:8px;
  color: black;
  content: "/\00a0";
}
.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-size: 13px;
}
/*.dropdown-menu>li>a i {
  color: #1F1F1F;
}
.dropdown-menu>li>a i:hover {
  color: #fff;
}*/
.text-muted {
  color: #FB5651;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 4px 7px;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #24C2CE;
  border-radius: 10px;
}
/*----------------------------------------------
   DASHBOARD STYLES
------------------------------------------------*/
.page-header {
padding-bottom: 9px;
margin: 0;
border-bottom: 1px solid transparent;

text-align: left;
background-color: #fff;
padding: 0px 22px 0px 10px;}
.panel-left{
width: 100px;
height: 100px;
background: #0866C6;

border: 2px solid #4590DA;
/* border-radius: 100%; */
overflow: hidden;

margin: 12px;}
.panel-left .fa-5x {
font-size: 3em;
color: rgba(255, 255, 255, 0.69);
padding: 29px 0;
margin-bottom:30px;
}
.panel-right{
height: 124px;
background: transparent;
margin-bottom: 0;
color: #FFFFFF;

float: left;text-align: left;padding-left: 20px;font-size: 16px;text-shadow: none;font-weight: 100;}
.panel-right h3{
font-size: 40px;
padding: 18px 10px 13px 0;
color: #FFFFFF;
}
.panel-back {
    background-color:#fff;

}
.panel-default {
  border-color: #ECECEC;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.9);    box-shadow: 0 1px 1px rgba(0,0,0,0.9);
}
.panel-default2 {
  border-color: #ECECEC;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.9);    box-shadow: 0 1px 1px rgba(0,0,0,0.9);
}
.panel-success {
  border-color: #ECECEC;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.9);    box-shadow: 0 1px 1px rgba(0,0,0,0.9);
}
.panel-success2 {
  border-color: #ECECEC;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.9);    box-shadow: 0 1px 1px rgba(0,0,0,0.9);
}
.panel-danger {
  border-color: #ECECEC;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.9);    box-shadow: 0 1px 1px rgba(0,0,0,0.9);
}
.panel-info {
  border-color: #ECECEC;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.9);    box-shadow: 0 1px 1px rgba(0,0,0,0.9);
}
.panel-info2 {
  border-color: #ECECEC;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.9);    box-shadow: 0 1px 1px rgba(0,0,0,0.9);
}
.panel-danger2 {
  border-color: #ECECEC;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.9);    box-shadow: 0 1px 1px rgba(0,0,0,0.9);
}
.panel-info > .panel-heading {
color: #FFF;
border-color: #FFF;
font-weight:bold;
background:   #de800f ;

font-size: 16px;
text-shadow: none;}
.panel-heading {
  /* padding: 15px 15px 0px; */
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-danger > .panel-heading {
color: #FFF;
border-color: #FFF;
font-weight:bold;
background:   #c11e14 ;

font-size: 16px;
text-shadow: none;}
.panel-heading {
  /* padding: 15px 15px 0px; */
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-success > .panel-heading {
color: #FFF;
border-color: #FFF;
font-weight:bold;
background:  #0ba20b;

font-size: 16px;
text-shadow: none;}
.panel-heading {
  /* padding: 15px 15px 0px; */
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-success2 > .panel-heading {
color: #FFF;
border-color: #636257;
font-weight:bold;
background:   #636257;

font-size: 16px;
text-shadow: none;}
.panel-heading {
  /* padding: 15px 15px 0px; */
  border-bottom: 2px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-default > .panel-heading {
color: #FFF;
border-color: #0866C6;
font-weight:bold;
background: #0866C6;
font-size: 16px;
text-shadow: none;}
.panel-heading {
  /* padding: 15px 15px 0px; */
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-default2 > .panel-heading {
color: #FFF;
border-color: #33a598;
font-weight:bold;
background: #33a598  ;
font-size: 16px;
text-shadow: none;}
.panel-heading {
  /* padding: 15px 15px 0px; */
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-danger2 > .panel-heading {
color: #FFF;
border-color:  #7733a5 ;
font-weight:bold;
background:  #7733a5   ;
font-size: 16px;
text-shadow: none;}
.panel-heading {
  /* padding: 15px 15px 0px; */
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-info2 > .panel-heading {
color: #FFF;
border-color:   #892f36  ;
font-weight:bold;
background:   #892f36   ;
font-size: 16px;
text-shadow: none;}
.panel-heading {
  /* padding: 15px 15px 0px; */
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.jumbotron{
padding:20px;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 200;
}
.jumbotron, .well{
background:#fff;
}
   .noti-box {
min-height: 100px;
padding: 20px;
}

.noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
.panel-primary{
display:inline-block;
margin-bottom: 30px;
width:100%;
}
.green {
/* background-color: #1CC09F; */
color: #fff;
}
.enviado {
  color:#088A29;

}
.suces {
    color: #088A29;
}
.successline {
  border: 2px solid  #088A29;
  border-radius: 5px;
  margin: 5px 0 2px 0px;
}
.dange {
  color: #F0433D;
}

.dangerline {
  border: 2px solid  #F0433D;
  border-radius: 5px;
  margin: 5px 0 2px 0px;
}
.azul{
color: #0866C6;
}
 .blue {
background-color: #0866C6;
color: #fff;
}
.black {

color: #000;
}
hr.new5 {
  border: 2px solid  #0866C6;
  border-radius: 5px;
  margin: 5px 0 2px 0px;

}
hr.black{
  border: 0.9px solid  #6c6868;
}
  .red {
background-color: #FB6E51;
color:#fff;
}
  .brown {
background-color: #F5B252;
color:#fff;
}

 .back-footer-red {
background-color: #F0433D;
color:#fff;
border-top: 0px solid #fff;
}
.white{
  background-color: #fff;

}
 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
  -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }

     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}
     /*CHAT PANEL*/
/*Charts*/

.main-chart {
	background: #fff;
}

.easypiechart-panel {
	text-align: center;
	padding: 1px 0;
	margin-bottom: 20px;
}

.placeholder h2 {
	margin-bottom: 0px;
}

.donut {
	width: 100%;
}

.easypiechart {
	position: relative;
	text-align: center;
	width: 120px;
	height: 120px;
	margin: 20px auto 10px auto;
}

.easypiechart .percent {
	display: block;
	position: absolute;
	font-size: 26px;
	top: 38px;
	width: 120px;
}

#easypiechart-blue .percent { color: #30a5ff;}
#easypiechart-teal .percent { color: #1ebfae;}
#easypiechart-orange .percent { color: #ffb53e;}
#easypiechart-red .percent { color: #ef4040;}


 .chat-panel .panel-body {
height: 450px;
overflow-y: scroll;
}
 .chat-box {
margin: 0;
padding: 0;
list-style: none;
}
 .chat-box li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px dotted #808080;
}
 .chat-box li.left .chat-body {
margin-left: 90px;
}
 .chat-box li .chat-body p {
margin: 0;
color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}
footer p{
font-size: 14px;
}
/*----------------------------------------------
    MENU STYLES
------------------------------------------------*/


.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}
.top-navbar{
margin:0px;
}
.top-navbar .navbar-brand {
color: #fff;
width: 260px;
text-align: left;
height: 60px;
font-size: 24px;
font-weight: 700;
/* text-transform: uppercase; */
line-height: 30px;
background: #0866c6;
}
.navbar-brand b{
color: #4BD28C;
}
.top-navbar .nav > li {
position: relative;
display: inline-block;
margin: 0px;
padding: 0px;
}
.top-navbar .nav > li > a {
position: relative;
display: block;
padding: 20px;
color: #FFFFFF;
margin: 0px;
}
.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
text-decoration: none;
color: #fff !important;
background: #225081;

}
.top-navbar .dropdown-menu{
min-width: 230px;
border-radius: 0 0 4px 4px;
border: 0;}
.top-navbar .dropdown-menu > li > a:hover, .top-navbar .dropdown-menu > li > a:focus{
color: #fff;
background:#0866C6;
}
.dropdown-tasks{
width: 255px;
}
.dropdown-tasks .progress {
height: 8px;
margin-bottom: 8px;
overflow: hidden;
background-color: #f5f5f5;
border-radius: 0px;
}
.dropdown-tasks > li > a {
padding: 0px 15px;
}
.dropdown-tasks p {
font-size: 13px;
line-height: 21px;
padding-top: 4px;
}
.active-menu {
    background-color: #0866C6 !important;
    color: #fff !important;
}
.active-menu i{
color: #fff !important;
}
.arrow {
    float: right;
    margin-top: 8px;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}
.nav-second-level>li:hover {
  background-color: #0866C6 !important;
  color: #fff !important;
  line-height: 1.42857143;


}
.borde {
  border:2px solid #0866C6;
}
.lii:hover {
  background-color: #0866C6 !important;
  color: #fff !important;
}
.li2 {
  background-color: #1F1F1F !important;
  color: #fff !important;
}
.li2:hover {
  background-color: #808080 !important;
  color: #fff !important;
}
.top
{
	margin-top: 25px;
}
.top2 {
  margin:15px;
}
.top3 {
  margin:1px;
}
.top-xs
{
	margin-top: 0px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color: #FFFFFF;
	background:transparent;
	text-shadow:none;
}
.sidebar-collapse > .nav > li > a {
	padding: 6px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
ul.nav.nav-second-level.collapse.in {
background: #1F1F1F;
}

.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	outline:0;

}

.navbar-side {
	border:none;
	background: #1F1F1F;
}
.top-navbar {
	background: #0866c6;
	border-bottom:none;
}
.top-navbar .nav > li > a > i {
margin-right: 2px;
}
.top-navbar .navbar-brand:hover {
color: #FFFFFF;

background-color: rgb(43, 46, 51);
}
.dropdown-user li {
margin: 8px 0;

}

.navbar-default {
border:0px solid black;

}
.navbar-header {
    background: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #283643;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
    color: rgba(255, 255, 255, 0.76);
}
.dropdown-menu>li>a>strong {
  color: #0866C6;
  padding: 3px 0;
  display: inline-block;
  font-weight: 500;
}
#sideNav{
    position: absolute;
    right: -12px;
    z-index: 3;
    /* padding: 3px 9px; */
    top: 122px;
    color: #1F1F1F;
    cursor:pointer;
    border-radius: 0;
    width: 14px;
    font-size: 48px;
    line-height: 0;
}
ul.dropdown-menu.dropdown-messages li a div {
  padding: 2px 0;
}
/* Modal styles */
.modal .modal-dialog {
  max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
  padding: 20px 30px;
}
.modal .modal-content {
  border-radius: 3px;
}
.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}
  .modal .modal-title {
      display: inline-block;
  }
.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}
.modal textarea.form-control {
  resize: vertical;
}
.modal .btn {
  border-radius: 2px;
  min-width: 100px;
}
.modal form label {
  font-weight: normal;
}
.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
  }

  .card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
  }

  .card-counter.info{
    background-color: #26c6da;
    color: #FFF;
  }

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
  }

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }

/*.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {
  padding: 10px;
}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  color : #fff;
  white-space: nowrap;
  padding: 0;
}
.small-box p {
  font-size: 15px;
}
.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}
.small-box h3,
.small-box p {
  z-index: 5;
}
.small-box .icon {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}
.small-box:hover .icon {
  font-size: 95px;
}
@media (max-width: 767px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}
.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
  background-color: #dd4b39 !important;
}
.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
  background-color: #f39c12 !important;
}
.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
  background-color: #3c8dbc !important;
}
.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
  background-color: #00a65a !important;
}*/
/*----------------------------------------------
    UI ELEMENTS STYLES
------------------------------------------------*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*----------------------------------------------
    MEDIA QUERIES
------------------------------------------------*/

 @media(min-width:768px) {
     #page-wrapper{
               margin: 0 0 0 0px;
               padding: 0;
               min-height: 600px;
    }


    .navbar-side {
        width: 260px;
        z-index: 1;
    }

   .navbar {
 border-radius: 0px;
}

}
 @media(max-width:480px) {
.page-header small {
display: block;
padding-top: 14px;
font-size: 19px;
}
  .panel-left {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    overflow: hidden;
    margin: 14px;
  }
}
